# Unity
/[Ll]ibrary/
/[Ll]ocal[Ll]ow/
/[Ll]ocal[Cc]ache/
/[Ll]ogs/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Pp]rojectSettings/[Pp]rojectSettings.asset.bak
/*.csproj
/*.sln
/*.userprefs
/[Uu]ser[Ss]ettings/
.idea/
*.swp
*.swo
.DS_Store
